<div class="jumbotron" id="createdemo">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1>Dynamically create your own categories.</h1>
				<p>  The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. </p>
			</div>
		</div>
	</div>
</div>

<form>
						<h2> Enter some seed words to create a new category:</h2>
						<div class="form-group">
							<input type="seeds" class="form-control" id="seeds1" placeholder="banana apple">
						</div>
						<h2> Name this category:</h2>
						<div class="form-group">
							<input type="name" class="form-control" id="name1" placeholder="fruits">
						</div>
						<button type="submit" class="btn btn-default">Create</button>
					</form>