<div id="sandbox" class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-7" id="editor">
				<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
					
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>Categories</h2>
						<hr></hr>
						<ul>
							<li id="newCategory">
								<form>
									<div class="form-group">
										<input type="seeds" class="form-control" id="seeds1" placeholder="Name" style="width: 50%">
									</div>
									<div class="form-group">
										<input type="name" class="form-control" id="name1" placeholder="Enter some space-seperated seed words">
									</div>
									<button type="submit" class="btn btn-default">Save</button>
								</form>
							</li>
							<li>body</li>
							<li>technology</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>